<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
</head>
  <body> 
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success" style="">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Psyche Review App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link view-sub" href="/static/reviews.txt">View Reviews</a>
            </div> 
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% block navItemsRight %}
              {% endblock %} 
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
