{% extends 'template.html'%}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="/static/Arts/A+ Gallery_44 - Rashi Kaushik.jpg" class="card-img-top" alt="..." style="padding: 10px;">
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click to view in new Tab</a>
                </div>
            </div>
        </div>
       <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-1by1 card">
                <iframe class="embed-responsive-item" src="/static/Arts/Sample 1 Psyche App - Alison M Rahman.pdf"></iframe>
            </div>   
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click to view in Website</a>
                </div>
            </div>
        </div>   
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="embed-responsive embed-responsive-1by1 card">
                <iframe class="embed-responsive-item" src="https://youtube.com/embed/kjR55hVa6RQ"></iframe>
            </div>   
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>   
</div>
    </div>
<footer class="page-footer font-small pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 copyright" >© NASA Psyche Mission 2019 :
      <a class="rights" href="https://psyche.asu.edu/"> All Rights Reserved</a>
    </div>
    <!-- Copyright -->
 </footer>
{% endblock %}
{% block right_nav %}
<li>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Please insert your ID token" aria-label="token" aria-describedby="token" id="token" required>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="submit" disabled>Submit</button>
      </div>
    </div>
  </li>
{% endblock %}